.column{
    border: 1px solid $light_grey;
    box-shadow: 0px 0px 10px;
    height: 100%;
    margin:10px;
    padding-bottom: 15px;
    h3{
        font-size: 18px;
        text-align: center;
        padding: 15px 5px 15px 5px;
        border-bottom: 1px solid $light_grey;
    }
    &__title{
        font-weight:normal;
        margin-bottom: 0;
    }
    &__description{
        font-weight: bold;
        padding-left: 10px;
    }
    &--lg_3{
        @extend
        .col-lg-3;
    }
    &--lg_5{
        @extend
        .col-lg-5;
    }    
}