//Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";


@import "variables.scss";
@import "./layouts/app_container.scss";
@import "./layouts/header.scss";
@import "./layouts/left_menu.scss";
@import "./layouts/customer_details.scss";

.app_table{
    @extend
    .table;
    &__tr{
        color:$black;

        &--red{
            color:$red;
        }
        &--green{
            color:$limegreen;
        }
    }
}

.app_badge{
    &--success{
        @extend
        .badge,
        .text-bg-success;
    }
    &--info{
        @extend
        .badge,
        .text-bg-info;
    }
    &--danger{
        @extend
        .badge,
        .text-bg-danger;
    }        
}