/**
*
* Author: Julien Ochsenbein (julien.ochsenbein@gmail.com)
* Pour Studio 60
*
*/

///////////////////////////////////////////////
// COLORS
///////////////////////////////////////////////
$white : #ffffff;
$light-grey : #CCCCCC;
$black : #000000;
$limegreen: #32CD32;
$red:#FF0000
